.bgImage {
	background-image: url("Images/bg.png");
	background-size: cover;
	background-attachment: fixed;
}

.logo{
	width: 10%;
	height: 10%;
	background: #000;
}

.loginImage{
	background-image: url("Images/login.png");
	background-size: cover;
	background-attachment: fixed;
}
.loginForm{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 10%;
	left: 33%;
}

.formLogin {
	width: 800px;
	height: 500px;
	position: absolute;
	top: 10%;
 	left: 19%
}

.inputText[type="email"]{
	font-family: Arial;
	width: 80%;
 	padding: 10px;
  	margin-left: 80px;
  	box-sizing: border-box;
  	font-size: 16px;
  	border-radius: 5px;
  	border-color: #f2e1e1;
}

.inputPass[type="password"]{
	font-family: Arial;
	width: 80%;
 	padding: 10px;
 	margin-top: 30px; 
  	margin-left: 80px;
  	box-sizing: border-box;
  	font-size: 16px;
  	border-radius: 5px;
  	border-color: #f2e1e1;
}

.button1[type="submit"]{
	width: 80%;
 	margin-top: 70px; 
  	margin-left: 80px;
  	margin-bottom: 10px;
  	font-size: 16px;
  	background-color: #f71b1b;
  	border: none;
  	border-radius: 5px;
  	padding: 10px;
  	color: white;
}

.button2[type="submit"]{
	width: 80%;
 	margin-top: 10px; 
  	margin-left: 80px;
  	margin-bottom: 50px;
  	font-size: 16px;
  	background-color: #000;
  	border: none;
  	border-radius: 5px;
  	padding: 10px;
  	color: white;
}

hr{
	width: 60%;
}

.aLink{	
	color: #c2c257;
	font-family: Arial;
	margin-left: 345px;
}

.card:hover{
    transform: scale(1.05);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

a {
	text-decoration: none;
	color: 
}

.dietForm {
	background-color: #7298d4;
	margin: 40px 60px 0px 60px;
}

.dropcap {
  float: left;
  padding: 10px 3px 0 0;
  display: block;
  color: #160936;
  font: 40px/20px Georgia, Times, serif;
}

.cards{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
     padding: 5px;
     grid-gap: 10px;
 }
  .container{
     position: relative;
     clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
 }

 .container::after{
     content: "";
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     border-radius: 20px 20px 0 0;
     opacity: 0.6;
 }

 .card{
     background-color: #1c1b29;
     border-radius: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 .container{
     position: relative;
     clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
 }
 .cards .card .container img{
     width: 100%;
     display: block;
     border-radius: 20px 20px 0 0;
 }

 .contentt{
     padding: 20px 10px;
 }
.contentt h3{
	color: #3f77d1;
    font-size: 24px;
    margin: 10px 0 15px 0;
 }
.contentt p{
     color: #729fe8;
     font-size: 16px;
     line-height: 30px;
 }